.nav_wrap{
    grid-area: n;
    background-color: #000000;
  }
.nav_list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding: 40px;
}
.nav_item:not(:last-child){
    margin-bottom: 10px;
}
.nav_item a{
    text-decoration: none;
    color: #ffffff;
}
.active_item{
    color: #ff69b4;
}